<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Connexion</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-danger" [hidden]="!error">
            {{error}}
         </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" placeholder="Email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" placeholder="Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
            </div>
            <!-- /.col -->
          </div>
          <small class="float-left">
            <a routerLink="/request-pwd-reset">Reset password</a>
          </small>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
